@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left{
    background-color: #fbb03b;
    width:  200px;
    height: 100%;
    float: left;
}
.right{
    width: 450px
    top: 0;
    right: 0;
}
.profile-img{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
    width: 100%;
    border-radius: 50%;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1{
    padding: 9px 10px;
    font-size: 15px;
}
.fas{
    font-size: 30px;
    padding-right: 10px;
    vertical-align: sub;
}
.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0 10px;
}
.skill{
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px;
    color: white;
}
.html{
    width: 90%;
    background-color: white;
    animation: sample1 1.5s  alternate;
}
.css{
    width: 80%;
    background-color: white;
    animation: sample2 2s  alternate;
}
.js{
    width: 85%;
    background-color: white;
    animation: sample3 1.5s  alternate;
}
.jquery{
    animation: sample4 1.5s  alternate;
    width: 90%;
    background-color: white;
}
.web{
    width: 80%;
    background-color: white;
    animation: sample5 2s  alternate;
}
.gra{
    width: 70%;
    background-color: white;
    animation: sample6 2s  alternate;
}
.name-div{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box-2{
    padding: 0 50px;
    margin-top: 30px;
    text-align: center;
}
.p2{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 18px;
    margin-top: 5px;
}
h2{
    font-size: 16px;
    margin-bottom: 15px;
    
}
.p3{
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0;
    margin-top: 10px;
}
.p3, p span{
    color: #ff9b00;
    padding-left: 20px;
}
@keyframes sample1{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 90%;
    }
}
@keyframes sample2{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 80%;
    }
}
@keyframes sample3{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 85%;
    }
}
@keyframes sample4{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 90%;
    }
}
@keyframes sample5{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 80%;
    }
}
@keyframes sample6{
   from{
        letter-spacing: 10px;
        width: 0%;
    }
    to{
        letter-spacing: 5px;
        width: 70%;
    }
}